<div class="log-in-container">
  <section id="home" class="log-in-hero">
    <header data-thq="thq-navbar" class="log-in-navbar">
      <div class="log-in-left">
        <a routerLink="/" class="log-in-navlink">
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
            class="log-in-logo"
          />
        </a>
      </div>
      <div data-thq="thq-navbar-btn-group" class="log-in-right"></div>
      <div data-thq="thq-burger-menu" class="log-in-burger-menu"></div>
      <div data-thq="thq-mobile-menu" class="log-in-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="log-in-nav">
          <div class="log-in-container1">
            <img
              alt="image"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
              class="log-in-image"
            />
            <div data-thq="thq-close-menu" class="log-in-menu-close">
              <svg viewBox="0 0 1024 1024" class="log-in-icon">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="log-in-nav1"
          >
            <span class="log-in-text">Features</span>
            <span class="log-in-text01">How it works</span>
            <span class="log-in-text02">Prices</span>
            <span class="log-in-text03">Contact</span>
            <a href="" class="log-in-book button button-main">
              <img
                alt="image"
                src="/assets/external/calendar.svg"
                class="log-in-image1"
              />
              <span class="log-in-text04">Book an appointment</span>
            </a>
          </nav>
        </div>
      </div>
      <a routerLink="" class="log-in-home button button-main">
        <span class="log-in-text05">Home</span>
      </a>
    </header>
    <div class="log-in-main">
      <div class="log-in-container2">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1628771065518-0d82f1938462?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fHBpbGxzfGVufDB8fHx8MTY5OTg5NjAyNXww&amp;ixlib=rb-4.0.3&amp;w=1400"
          loading="eager"
          class="log-in-image2"
        />
        <div class="log-in-form">
          <div class="log-in-inputs">
            <input
              type="email"
              required
              placeholder="Email"
              autocomplete="email"
              class="input book-input"
              #emailInput
            />
            <input
              type="password"
              required
              placeholder="Password"
              autocomplete="tel"
              class="input book-input"
              #passwordInput

            />
            <div class="log-in-lower">
              <p class="log-in-text06">Please fill all the fields.</p>
              <button class="log-in-log-in button button-main" (click)="onLogin(emailInput.value, passwordInput.value)">
                <span>Log In</span>
              </button>
              <div class="log-in-container3">              
                <p class="log-in-text08">Dont have an Account? </p>
                <a routerLink="" class="log-in-navlink2">
                  <p class="log-in-text09">Register Now</p>
                </a>
              </div>
              <div class="log-in-container4">
                <p class="log-in-text10">Forgot your password? </p>
                <a routerLink="/pswd-recovery-request" class="log-in-navlink2">
                  <p class="hyper-link">Reset your Password</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="contact" class="log-in-footer">
    <div class="log-in-left1">
      <div class="log-in-brand">
        <img
          alt="image"
          src="/assets/external/logo-2.svg"
          class="log-in-image3"
        />
        <p class="log-in-text12">Here at Deep Pills, we care for you!</p>
      </div>
      <div class="log-in-legal">
        <span class="log-in-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="log-in-right1">
      <div class="log-in-list">
        <span class="log-in-header">Menu</span>
        <div class="log-in-links">
          <a href="" class="home-link05">Home</a>
          <a routerLink="/log-in" class="home-link06">Login</a>
          <a href="#register" class="home-link07">Register</a>
          <a href="#policies" class="home-link08">Policies</a>
        </div>
      </div>
      <div class="log-in-list1"></div>
      <div class="log-in-list2">
        <span class="log-in-header1">Contact</span>
        <div class="log-in-links1">
          <a
            href="mailto:contact@template.new?subject=Main"
            class="log-in-link4"
          >
            deep.pills.org&#64;gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="log-in-legal1">
      <div class="log-in-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="log-in-copyright3">
        © 2022 finbest. All Rights Reserved.
      </span>
    </div>
  </div>
</div>
