<div class="pswd-recovery-container">
  <header data-thq="thq-navbar" class="pswd-recovery-navbar">
    <div class="pswd-recovery-left">
      <a routerLink="/" class="pswd-recovery-navlink">
        <img
          alt="image"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
          class="pswd-recovery-logo"
        />
      </a>
    </div>
    <div data-thq="thq-navbar-btn-group" class="pswd-recovery-right"></div>
    <div data-thq="thq-burger-menu" class="pswd-recovery-burger-menu">
      <svg viewBox="0 0 1024 1024" class="pswd-recovery-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="pswd-recovery-mobile-menu">
      <div
        data-thq="thq-mobile-menu-nav"
        data-role="Nav"
        class="pswd-recovery-nav"
      >
        <div class="pswd-recovery-container1">
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
            class="pswd-recovery-image"
          />
          <div data-thq="thq-close-menu" class="pswd-recovery-menu-close">
            <svg viewBox="0 0 1024 1024" class="pswd-recovery-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav
          data-thq="thq-mobile-menu-nav-links"
          data-role="Nav"
          class="pswd-recovery-nav1"
        >
          <span class="pswd-recovery-text">Features</span>
          <span class="pswd-recovery-text01">How it works</span>
          <span class="pswd-recovery-text02">Prices</span>
          <span class="pswd-recovery-text03">Contact</span>
          <a href="#book" class="pswd-recovery-book button button-main">
            <img
              alt="image"
              src="/assets/external/calendar.svg"
              class="pswd-recovery-image1"
            />
            <span class="pswd-recovery-text04">Book an appointment</span>
          </a>
        </nav>
      </div>
    </div>
    <a routerLink="/" class="pswd-recovery-home button button-main">
      <span class="pswd-recovery-text05">Home</span>
    </a>
  </header>
  <div class="pswd-recovery-main">
    <h1 class="pswd-recovery-text06">Security PIN here!</h1>
    <div class="pswd-recovery-pins">
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput input"
      />
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput1 input"
      />
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput2 input"
      />
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput3 input"
      />
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput4 input"
      />
      <input
        type="text"
        placeholder="-"
        class="pswd-recovery-textinput5 input"
      />
    </div>
    <div class="pswd-recovery-inputs">
      <input
        type="password"
        required
        placeholder="New Password"
        autocomplete="tel"
        class="input book-input"
      />
      <input
        type="password"
        required
        placeholder="Confirm your New Password"
        class="input book-input"
      />
      <div class="pswd-recovery-lower">
        <p class="pswd-recovery-text07">Please fill all the fields.</p>
        <div class="pswd-recovery-button">
          <button class="pswd-recovery-book1 button button-main">
            <span>Change my Password</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="pswd-recovery-footer">
    <div class="pswd-recovery-left1">
      <div class="pswd-recovery-brand">
        <img
          alt="image"
          src="/assets/external/logo-21.svg"
          class="pswd-recovery-image2"
        />
        <p class="pswd-recovery-text09">Here at Deep Pills, we care for you!</p>
      </div>
      <div class="pswd-recovery-legal">
        <span class="pswd-recovery-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="pswd-recovery-right1">
      <div class="pswd-recovery-list">
        <span class="pswd-recovery-header">Menu</span>
        <div class="pswd-recovery-links">
          <a routerLink="/" class="pswd-recovery-link">Home</a>
          <a routerLink="/" class="pswd-recovery-link1">Login</a>
          <a routerLink="/" class="pswd-recovery-link2">Register</a>
          <a routerLink="/" class="pswd-recovery-link3">Policies</a>
        </div>
      </div>
      <div class="pswd-recovery-list1">
        <span class="pswd-recovery-header1">Contact</span>
        <div class="pswd-recovery-links1">
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="pswd-recovery-link4"
          >
            deep.pills.org@gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="pswd-recovery-legal1">
      <div class="pswd-recovery-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="pswd-recovery-copyright3">
        © 2022 finbest. All Rights Reserved.
      </span>
    </div>
  </div>
</div>
