:host { 
  display: contents; 
}
.pswd-recovery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pswd-recovery-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.pswd-recovery-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pswd-recovery-navlink {
  display: contents;
}
.pswd-recovery-logo {
  width: 165px;
  object-fit: cover;
  text-decoration: none;
}
.pswd-recovery-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pswd-recovery-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.pswd-recovery-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pswd-recovery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pswd-recovery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pswd-recovery-image {
  height: 2rem;
}
.pswd-recovery-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pswd-recovery-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pswd-recovery-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-text {
  margin-bottom: var(--dl-space-space-unit);
}
.pswd-recovery-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.pswd-recovery-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.pswd-recovery-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.pswd-recovery-book {
  text-decoration: none;
}
.pswd-recovery-image1 {
  width: 18px;
  object-fit: cover;
}
.pswd-recovery-text04 {
  font-family: Inter;
}
.pswd-recovery-home {
  width: 141px;
  height: 46px;
  text-decoration: none;
}
.pswd-recovery-text05 {
  font-family: "Inter";
}
.pswd-recovery-main {
  width: 100%;
  height: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pswd-recovery-text06 {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.pswd-recovery-pins {
  width: 851px;
  height: 211px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pswd-recovery-textinput {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-textinput1 {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-textinput2 {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-textinput3 {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-textinput4 {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-textinput5 {
  width: 127px;
  height: 132px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
.pswd-recovery-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.pswd-recovery-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pswd-recovery-text07 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.pswd-recovery-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pswd-recovery-book1 {
  width: 100%;
}
.pswd-recovery-footer {
  width: 100%;
  height: 296px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.pswd-recovery-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.pswd-recovery-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-image2 {
  width: 165px;
  object-fit: cover;
}
.pswd-recovery-text09 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.pswd-recovery-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pswd-recovery-copyright {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.pswd-recovery-right1 {
  gap: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pswd-recovery-list {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-header {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.pswd-recovery-links {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-link {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.pswd-recovery-link:hover {
  opacity: 0.5;
}
.pswd-recovery-link1 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.pswd-recovery-link1:hover {
  opacity: 0.5;
}
.pswd-recovery-link2 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.pswd-recovery-link2:hover {
  opacity: 0.5;
}
.pswd-recovery-link3 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.pswd-recovery-link3:hover {
  opacity: 0.5;
}
.pswd-recovery-list1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-header1 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.pswd-recovery-links1 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pswd-recovery-link4 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.pswd-recovery-link4:hover {
  opacity: 0.5;
}
.pswd-recovery-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.pswd-recovery-row {
  display: flex;
}
.pswd-recovery-copyright3 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .pswd-recovery-navbar {
    z-index: 1000;
  }
  .pswd-recovery-right {
    display: none;
  }
  .pswd-recovery-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .pswd-recovery-icon {
    fill: white;
  }
  .pswd-recovery-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .pswd-recovery-left1 {
    padding-right: 0px;
  }
  .pswd-recovery-legal {
    display: none;
  }
  .pswd-recovery-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .pswd-recovery-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .pswd-recovery-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .pswd-recovery-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .pswd-recovery-burger-menu {
    display: flex;
  }
  .pswd-recovery-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pswd-recovery-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .pswd-recovery-image2 {
    width: 110px;
  }
  .pswd-recovery-text09 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .pswd-recovery-navbar {
    padding: var(--dl-space-space-unit);
  }
  .pswd-recovery-mobile-menu {
    padding: 16px;
  }
}
