<div class ='host'>
<h1>Claim Details</h1>

<!-- Detalles generales de la cita -->
<p>Claim ID: {{ data.claimId }}</p>
<p>Patient PID: {{ data.personalId }}</p>
<p>Appointment ID: {{ data.appointmentId }}</p>
<p>Date: {{ data.claimDate | date }}</p>
<p>Claim Type: {{ data.claimType }}</p>
<p>Details: {{ data.details }}</p>
<p>Claim Status: {{ data.claimStatus }}</p>

<!-- Tabla para claims -->
<h2 width='900px'>Messages</h2>
<table>
<thead>
<tr>
    <th>Claim ID</th>
    <th>Message</th>
    <th>Date</th>
    <th>Sender ID</th>
    <th>Recipient ID</th>
    <th>Message Type</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let message of data.messages">
    <td>{{ message.claimId }}</td>
    <td>{{ message.message }}</td>
    <td>{{ message.date | date }}</td>
    <td>{{ message.sender }}</td>
    <td>{{ message.recipient }}</td>
    <td>{{ message.messageType }}</td>
</tr>
</tbody>
</table>
<button (click)="onCloseClick()">Close</button>
</div>