<div class="patient-dashboard-container">
  <section id="home" class="patient-dashboard-hero">
    <header data-thq="thq-navbar" class="patient-dashboard-navbar">
      <div class="patient-dashboard-left">
        <img
          alt="image"
          src="/assets/external/logo-1500h-1500h.png"
          class="patient-dashboard-logo"
        />
        <nav class="patient-dashboard-links">
          <a href="#why" class="patient-dashboard-link">Why Us</a>
          <a href="#register" class="patient-dashboard-link01">Register</a>
          <a href="#policies" class="patient-dashboard-link02">Our Policies</a>
          <a href="#contact" class="patient-dashboard-link03">Contact</a>
        </nav>
      </div>
      <div data-thq="thq-navbar-btn-group" class="patient-dashboard-right">
        <button class="patient-dashboard-phone button">
          <svg viewBox="0 0 1024 1024" class="patient-dashboard-icon">
            <path
              d="M128 337.963l359.552 251.691c14.507 10.027 33.92 10.496 48.939 0l359.509-251.691v430.037c0 11.605-4.693 22.229-12.587 30.080s-18.475 12.587-30.080 12.587h-682.667c-11.605 0-22.229-4.693-30.080-12.587s-12.587-18.475-12.587-30.080zM42.667 256.512v511.488c0 35.328 14.507 67.371 37.547 90.453s55.125 37.547 90.453 37.547h682.667c35.328 0 67.371-14.507 90.453-37.547s37.547-55.125 37.547-90.453v-511.488c0-0.427 0-0.853 0-1.28-0.213-35.029-14.635-66.773-37.547-89.685-23.083-23.040-55.125-37.547-90.453-37.547h-682.667c-35.328 0-67.371 14.507-90.453 37.547-22.912 22.912-37.333 54.656-37.547 89.728 0 0.213 0 0.469 0 0.725zM891.477 236.971l-379.477 265.6-379.477-265.6c2.048-4.096 4.779-7.808 8.021-11.051 7.893-7.893 18.517-12.587 30.123-12.587h682.667c11.605 0 22.229 4.693 30.080 12.587 3.243 3.243 5.973 6.997 8.021 11.051z"
            ></path>
          </svg>
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="patient-dashboard-link04"
          >
            deep.pills.org@gmail.com
          </a>
        </button>
        <button class="patient-dashboard-log-in button button-main">
          <span class="patient-dashboard-text">Log Out</span>
        </button>
      </div>
      <div data-thq="thq-burger-menu" class="patient-dashboard-burger-menu">
        <svg viewBox="0 0 1024 1024" class="patient-dashboard-icon2">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="patient-dashboard-mobile-menu">
        <div
          data-thq="thq-mobile-menu-nav"
          data-role="Nav"
          class="patient-dashboard-nav"
        >
          <div class="patient-dashboard-container1">
            <img
              alt="image"
              src="/assets/external/logo-1500h-1500h.png"
              class="patient-dashboard-image"
            />
            <div data-thq="thq-close-menu" class="patient-dashboard-menu-close">
              <svg viewBox="0 0 1024 1024" class="patient-dashboard-icon4">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="patient-dashboard-nav1"
          >
            <span class="patient-dashboard-text1">Features</span>
            <span class="patient-dashboard-text2">How it works</span>
            <span class="patient-dashboard-text3">Prices</span>
            <span class="patient-dashboard-text4">Contact</span>
            <a href="#book" class="patient-dashboard-book button button-main">
              <img
                alt="image"
                src="/assets/external/calendar1.svg"
                class="patient-dashboard-image1"
              />
              <span class="patient-dashboard-text5">Book an appointment</span>
            </a>
          </nav>
        </div>
      </div>
    </header>
  </section>
  <div id="contact" class="patient-dashboard-footer">
    <div class="patient-dashboard-left1">
      <div class="patient-dashboard-brand">
        <img
          alt="image"
          src="/assets/external/logo-21.svg"
          class="patient-dashboard-image2"
        />
        <p class="patient-dashboard-text6">
          Here at Deep Pills, we care for you!
        </p>
      </div>
      <div class="patient-dashboard-legal">
        <span class="patient-dashboard-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="patient-dashboard-right1">
      <div class="patient-dashboard-list">
        <span class="patient-dashboard-header">Menu</span>
        <div class="patient-dashboard-links1">
          <span class="patient-dashboard-link05">Home</span>
          <a routerLink="/log-in" class="patient-dashboard-link06">Login</a>
          <a href="#register" class="patient-dashboard-link07">Register</a>
          <a href="#policies" class="patient-dashboard-link08">Policies</a>
        </div>
      </div>
      <div class="patient-dashboard-list1">
        <span class="patient-dashboard-header1">Contact</span>
        <div class="patient-dashboard-links2">
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="patient-dashboard-link09"
          >
            deep.pills.org@gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="patient-dashboard-legal1">
      <div class="patient-dashboard-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="patient-dashboard-copyright3">
        © 2022 finbest. All Rights Reserved.
      </span>
    </div>
  </div>
</div>
