<div class="patient-dashboard-container">
  <section id="home" class="patient-dashboard-hero">
    <header data-thq="thq-navbar" class="patient-dashboard-navbar">
      <div class="patient-dashboard-left">
        <img
          alt="image"
          src="/assets/external/logo-1500h-1500h.png"
          class="patient-dashboard-logo"
        />
        <nav class="patient-dashboard-links">
          <a routerLink="/patient-dashboard/profile" class="home-link05">Profile</a>
          <a routerLink="/patient-dashboard/appointments" class="home-link06">Appointments</a>
          <a routerLink="/patient-dashboard/claims" class="home-link07">Claims</a>
          <a routerLink="/patient-dashboard/memberships" class="home-link08">Memberships</a>
          <a routerLink="" class="home-link09">LogOut</a>
          <!-- Agrega más enlaces según sea necesario -->
        </nav>
      </div>
      <div data-thq="thq-navbar-btn-group" class="patient-dashboard-right">
        <!-- Resto del código... -->
      </div>
      <div data-thq="thq-burger-menu" class="patient-dashboard-burger-menu">
        <!-- Resto del código... -->
      </div>
      <div data-thq="thq-mobile-menu" class="patient-dashboard-mobile-menu">
        <!-- Resto del código... -->
      </div>
    </header>
    <div class="dashboard-content">
      <router-outlet *ngIf="isTabActive('appointments')"></router-outlet>
      <router-outlet *ngIf="isTabActive('claims')"></router-outlet>
      <router-outlet *ngIf="isTabActive('profile')"></router-outlet>
    </div>
  </section>
  <div id="contact" class="patient-dashboard-footer">
    <div class="patient-dashboard-left1">
      <div class="patient-dashboard-brand">
        <img
          alt="image"
          src="/assets/external/logo-21.svg"
          class="patient-dashboard-image2"
        />
        <p class="patient-dashboard-text6">
          Here at Deep Pills, we care for you!
        </p>
      </div>
      <div class="patient-dashboard-legal">
        <span class="patient-dashboard-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="patient-dashboard-right1">
      <div class="patient-dashboard-list">
        <span class="patient-dashboard-header">Menu</span>
        <div class="patient-dashboard-links1">
          <span class="patient-dashboard-link05">Home</span>
          <a href="" class="home-link05">Home</a>
          <a routerLink="/log-in" class="home-link06">Login</a>
          <a href="#register" class="home-link07">Register</a>
          <a href="#policies" class="home-link08">Policies</a>
        </div>
      </div>
      <div class="patient-dashboard-list1">
        <span class="patient-dashboard-header1">Contact</span>
        <div class="patient-dashboard-links2">
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="patient-dashboard-link09"
          >
            deep.pills.org&#64;gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="patient-dashboard-legal1">
      <div class="patient-dashboard-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="patient-dashboard-copyright3">
        © 2022 finbest. All Rights Reserved.
      </span>
    </div>
  </div>
</div>
