<div class="pswd-recovery-request-container">
  <header data-thq="thq-navbar" class="pswd-recovery-request-navbar">
    <div class="pswd-recovery-request-left">
      <a routerLink="/" class="pswd-recovery-request-navlink">
        <img
          alt="image"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
          class="pswd-recovery-request-logo"
        />
      </a>
    </div>
    <div
      data-thq="thq-navbar-btn-group"
      class="pswd-recovery-request-right"
    ></div>
    <div data-thq="thq-burger-menu" class="pswd-recovery-request-burger-menu">
      <svg viewBox="0 0 1024 1024" class="pswd-recovery-request-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="pswd-recovery-request-mobile-menu">
      <div
        data-thq="thq-mobile-menu-nav"
        data-role="Nav"
        class="pswd-recovery-request-nav"
      >
        <div class="pswd-recovery-request-container1">
          <img
            alt="image"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/beda93c2-94f1-41ca-9268-cdc09b254ea8/a5e4d547-89af-472d-9c7d-f8c7df2538be?org_if_sml=1966&amp;force_format=original"
            class="pswd-recovery-request-image"
          />
          <div
            data-thq="thq-close-menu"
            class="pswd-recovery-request-menu-close"
          >
            <svg viewBox="0 0 1024 1024" class="pswd-recovery-request-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav
          data-thq="thq-mobile-menu-nav-links"
          data-role="Nav"
          class="pswd-recovery-request-nav1"
        >
          <span class="pswd-recovery-request-text">Features</span>
          <span class="pswd-recovery-request-text01">How it works</span>
          <span class="pswd-recovery-request-text02">Prices</span>
          <span class="pswd-recovery-request-text03">Contact</span>
          <a href="#book" class="pswd-recovery-request-book button button-main">
            <img
              alt="image"
              src="/assets/external/calendar.svg"
              class="pswd-recovery-request-image1"
            />
            <span class="pswd-recovery-request-text04">
              Book an appointment
            </span>
          </a>
        </nav>
      </div>
    </div>
    <a routerLink="/" class="pswd-recovery-request-book1 button button-main">
      <span class="pswd-recovery-request-text05">Home</span>
    </a>
  </header>
  <div class="pswd-recovery-request-main">
    <div class="pswd-recovery-request-container2">
      <div class="pswd-recovery-request-form">
        <div class="pswd-recovery-request-inputs">
          <input
            type="email"
            required
            placeholder="Email"
            autocomplete="email"
            class="input book-input"
          />
          <div class="pswd-recovery-request-lower">
            <div class="pswd-recovery-request-button">
              <button class="pswd-recovery-request-book2 button button-main">
                <span>Send Password Recovery Request</span>
              </button>
            </div>
            <div class="pswd-recovery-request-container3">
              <p class="pswd-recovery-request-text07">Dont have an Account? </p>
              <a routerLink="/" class="pswd-recovery-request-navlink1">
                <p class="pswd-recovery-request-text08">Register Now</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="pswd-recovery-request-footer">
    <div class="pswd-recovery-request-left1">
      <div class="pswd-recovery-request-brand">
        <img
          alt="image"
          src="/assets/external/logo-21.svg"
          class="pswd-recovery-request-image2"
        />
        <p class="pswd-recovery-request-text09">
          Here at Deep Pills, we care for you!
        </p>
      </div>
      <div class="pswd-recovery-request-legal">
        <span class="pswd-recovery-request-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="pswd-recovery-request-right1">
      <div class="pswd-recovery-request-list">
        <span class="pswd-recovery-request-header">Menu</span>
        <div class="pswd-recovery-request-links">
          <a routerLink="/" class="pswd-recovery-request-link">Home</a>
          <a routerLink="/" class="pswd-recovery-request-link1">Login</a>
          <a routerLink="/" class="pswd-recovery-request-link2">Register</a>
          <a routerLink="/" class="pswd-recovery-request-link3">Policies</a>
        </div>
      </div>
      <div class="pswd-recovery-request-list1">
        <span class="pswd-recovery-request-header1">Contact</span>
        <div class="pswd-recovery-request-links1">
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="pswd-recovery-request-link4"
          >
            deep.pills.org&#64;gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="pswd-recovery-request-legal1">
      <div class="pswd-recovery-request-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="pswd-recovery-request-copyright3">
        © 2022 finbest. All Rights Reserved.
      </span>
    </div>
  </div>
</div>
