<div class="home-container">
  <section id="home" class="home-hero">
    <header data-thq="thq-navbar" class="home-navbar">
      <div class="home-left">
        <img
          alt="image"
          src="/assets/external/logo-1500h-1500h.png"
          class="home-logo"
        />
        <nav class="home-links">
          <a href="#why" class="home-link">Why Us</a>
          <a href="#register" class="home-link01">Register</a>
          <a href="#policies" class="home-link02">Our Policies</a>
          <a href="#contact" class="home-link03">Contact</a>
        </nav>
      </div>
      <div data-thq="thq-navbar-btn-group" class="home-right">
        <button class="home-phone button">
          <svg viewBox="0 0 1024 1024" class="home-icon">
            <path
              d="M128 337.963l359.552 251.691c14.507 10.027 33.92 10.496 48.939 0l359.509-251.691v430.037c0 11.605-4.693 22.229-12.587 30.080s-18.475 12.587-30.080 12.587h-682.667c-11.605 0-22.229-4.693-30.080-12.587s-12.587-18.475-12.587-30.080zM42.667 256.512v511.488c0 35.328 14.507 67.371 37.547 90.453s55.125 37.547 90.453 37.547h682.667c35.328 0 67.371-14.507 90.453-37.547s37.547-55.125 37.547-90.453v-511.488c0-0.427 0-0.853 0-1.28-0.213-35.029-14.635-66.773-37.547-89.685-23.083-23.040-55.125-37.547-90.453-37.547h-682.667c-35.328 0-67.371 14.507-90.453 37.547-22.912 22.912-37.333 54.656-37.547 89.728 0 0.213 0 0.469 0 0.725zM891.477 236.971l-379.477 265.6-379.477-265.6c2.048-4.096 4.779-7.808 8.021-11.051 7.893-7.893 18.517-12.587 30.123-12.587h682.667c11.605 0 22.229 4.693 30.080 12.587 3.243 3.243 5.973 6.997 8.021 11.051z"
            ></path>
          </svg>
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="home-link04"
          >
            deep.pills.org&#64;gmail.com
          </a>
        </button>
        <a routerLink="/log-in" class="home-log-in button button-main">
          <span class="home-text">Log In</span>
        </a>
      </div>
      <div data-thq="thq-burger-menu" class="home-burger-menu">
        <svg viewBox="0 0 1024 1024" class="home-icon2">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="home-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav">
          <div class="home-container01">
            <img
              alt="image"
              src="/assets/external/logo-1500h-1500h.png"
              class="home-image"
            />
            <div data-thq="thq-close-menu" class="home-menu-close">
              <svg viewBox="0 0 1024 1024" class="home-icon4">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="home-nav1"
          >
            <span class="home-text01">Features</span>
            <span class="home-text02">How it works</span>
            <span class="home-text03">Prices</span>
            <span class="home-text04">Contact</span>
            <a href="#book" class="home-book button button-main">
              <img
                alt="image"
                src="/assets/external/calendar1.svg"
                class="home-image1"
              />
              <span class="home-text05">Book an appointment</span>
            </a>
          </nav>
        </div>
      </div>
    </header>
    <div class="home-main">
      <div class="home-content">
        <div class="home-heading">
          <h1 class="home-header">
            Experienced general practitioners who have an eye for your care
          </h1>
          <p class="home-caption">
            At Deep Pills Health Center, we are committed to being your partner
            on your health journey. Explore our policies, and let&apos;s work
            together towards a healthier future.
          </p>
        </div>
        <a href="#register" class="home-book1 button button-main">
          <span>Register Now</span>
        </a>
      </div>
      <img
        alt="image"
        src="/assets/external/doctor-image-1500w-300w.png"
        class="home-image2"
      />
    </div>
  </section>
  <section id="why" class="home-why">
    <div class="home-heading1">
      <h2 class="home-header1">Why choose us</h2>
      <div class="home-container02">
        <h1 class="home-text07">Personalized Care</h1>
        <span class="home-text08">
          Our policies are not one-size-fits-all. We believe in tailoring
          healthcare solutions to match your unique needs.
        </span>
      </div>
      <div class="home-container03">
        <h1 class="home-text09">Network of Experts</h1>
        <span class="home-text10">
          Access a network of experienced healthcare professionals dedicated to
          delivering top-notch care and guidance.
        </span>
      </div>
      <div class="home-container04">
        <h1 class="home-text11">Transparent Communication</h1>
        <span class="home-text12">
          We believe in transparent communication. Our team is here to help you
          understand the details of your policy, ensuring clarity and peace of
          mind.
        </span>
      </div>
    </div>
  </section>
  <section id="register" class="home-register">
    <div class="home-heading2">
      <h2 class="home-text13">Register Now</h2>
      <p class="home-text14">
        <span class="home-text15">
          Embark on your journey to optimal health by completing our simple and
          secure registration process. At Deep Pills, we prioritize your
          well-being and aim to make your healthcare experience as seamless as
          possible. By registering with us, you gain access to a world of
          personalized care and comprehensive health services.
        </span>
        <br />
      </p>
    </div>
    <div class="home-form">
      <div class="home-inputs">
        <input
          type="email"
          required
          placeholder="Email"
          autocomplete="email"
          class="input book-input"
        />
        <input
          type="email"
          required
          placeholder="Personal ID"
          autocomplete="email"
          class="input book-input"
        />
        <input
          type="password"
          required
          placeholder="Password"
          autocomplete="tel"
          class="input book-input"
        />
        <input
          type="password"
          required
          placeholder="Confirm your Password"
          class="input book-input"
        />
        <div class="home-lower">
          <p class="home-text17">Please fill all the fields.</p>
          <div class="home-button">
            <button class="home-book2 button button-main">
              <span>Register Now</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="policies" class="home-our-policies">
    <div class="home-heading3">
      <h2 class="home-text19">Know our Policies</h2>
      <p class="home-text20">
        Our policies are designed to offer comprehensive plans and benefit
        packages tailored to meet your unique health needs. We understand that
        everyone&apos;s health journey is different, and our commitment is to
        provide you with flexible and inclusive options for a healthier, happier
        life.
      </p>
    </div>
    <div class="home-pricing">
      <div class="home-card">
        <div class="home-container05">
          <span class="home-text21">Free</span>
          <span class="home-text22">$0</span>
          <span class="home-text23">Per month</span>
        </div>
        <span class="home-text24">
          Our Free plan gives you up to 3 monthly visits with our specialist for
          a single person at a Time.
        </span>
        <button class="home-button1 button">Enroll</button>
      </div>
      <div class="home-card1">
        <div class="home-container06">
          <span class="home-text25">narcissus</span>
          <span class="home-text26">$20.000</span>
          <span class="home-text27">Per month</span>
        </div>
        <span class="home-text28">
          <span>
            A personalized premium plan for those seeking individualized care.
            Perfect for those who value an exclusive and personal approach to
            their healthcare.
          </span>
          <br />
          <br />
          <span>This plan includes 5 monthly visits for a single person.</span>
        </span>
        <button class="home-button2 button">Enroll</button>
      </div>
      <div class="home-card2">
        <div class="home-container07">
          <span class="home-text33">apolo</span>
          <span class="home-text34">$22.000</span>
          <span class="home-text35">Per month</span>
        </div>
        <span class="home-text36">
          <span>
            Focused on appointment-based care. Ideal for those who prefer a more
            specific and scheduled approach to their regular healthcare.
          </span>
          <br />
          <br />
          <span>
            This plan offers 8 monthly visits and up to 3 active members.
          </span>
        </span>
        <button class="home-button3 button">Enroll</button>
      </div>
      <div class="home-card3">
        <div class="home-container08">
          <span class="home-text41">Afrodite</span>
          <span class="home-text42">$34.900</span>
          <span class="home-text43">Per month</span>
        </div>
        <span class="home-text44">
          <span>
            Tailored for couples seeking comprehensive and personalized
            healthcare. Perfect for maintaining holistic health for couples.
          </span>
          <br />
          <br />
          <span>
            <span>
              This plan includes 5 monthly visits and up to  2 active members.
              <span [innerHTML]="raw3ezg"></span>
            </span>
            <span><span [innerHTML]="raweyu2"></span></span>
          </span>
        </span>
        <button class="home-button4 button">Enroll</button>
      </div>
      <div class="home-card4">
        <div class="home-container09">
          <span class="home-text51">Hera</span>
          <span class="home-text52">$69.900</span>
          <span class="home-text53">Per month</span>
        </div>
        <span class="home-text54">
          <span>
            Designed with the needs of nuclear families in mind, this plan
            ensures complete care for the entire family. Ideal for those seeking
            a comprehensive approach to family well-being.
          </span>
          <br />
          <br />
          <span>
            This plan includes 10 monthly visits and up to 5 active members.
          </span>
          <br />
        </span>
        <button class="home-button5 button">Enroll</button>
      </div>
      <div class="home-card5">
        <div class="home-container10">
          <span class="home-text60">demeter</span>
          <span class="home-text61">$95.900</span>
          <span class="home-text62">Per month</span>
        </div>
        <span class="home-text63">
          <span>
            Tailored for extended families valuing health and well-being. With
            generous coverage, this plan provides comprehensive and flexible
            care for the entire extended family.
          </span>
          <br />
          <br />
          <span>
            This plan includes 20 monthly visits and up to 10 active members.
          </span>
        </span>
        <button class="home-button6 button">Enroll</button>
      </div>
    </div>
  </section>
  <div id="contact" class="home-footer">
    <div class="home-left1">
      <div class="home-brand">
        <img
          alt="image"
          src="/assets/external/logo-21.svg"
          class="home-image3"
        />
        <p class="home-text68">Here at Deep Pills, we care for you!</p>
      </div>
      <div class="home-legal">
        <span class="home-copyright">
          © 2023 DeepPills. All Rights Reserved.
        </span>
      </div>
    </div>
    <div class="home-right1">
      <div class="home-list">
        <span class="home-header2">Menu</span>
        <div class="home-links1">
          <a href="#home" class="home-link05">Home</a>
          <a routerLink="/log-in" class="home-link06">Login</a>
          <a href="#register" class="home-link07">Register</a>
          <a href="#policies" class="home-link08">Policies</a>
        </div>
      </div>
      <div class="home-list1">
        <span class="home-header3">Contact</span>
        <div class="home-links2">
          <a
            href="mailto:deep.pills.org@gmail.com?subject=Main"
            class="home-link09"
          >
            deep.pills.org&#64;gmail.com
          </a>
        </div>
      </div>
    </div>
    <div class="home-legal1">
      <div class="home-row">
        <span class="legal-link">Privacy Policy</span>
        <span class="legal-link">Terms of Use</span>
      </div>
      <span class="home-copyright3">© 2022 finbest. All Rights Reserved.</span>
    </div>
  </div>
</div>
