<div class ='host'>
<h1>Appointment Details</h1>

<!-- Detalles generales de la cita -->
<p>Appointment ID: {{ data.appointmentId }}</p>
<p>Patient ID: {{ data.patientPersonalId }}</p>
<p>Date: {{ data.date | date }}</p>
<p>Time: {{ data.time | date: 'hh:mm a' }}</p>
<p>Location: {{ data.location }}</p>
<p>Duration (min): {{ data.duration }}</p>
<p>Request Time: {{ data.requestTime | date }}</p>
<p>Detailed Reasons: {{ data.detailedReasons }}</p>
<p>Doctor's Notes: {{ data.doctorsNotes }}</p>
<p>Appointment State: {{ data.appointmentState }}</p>

<!-- Tabla para claims -->
<h2 width='900px'>Claims</h2>
<table>
<thead>
<tr>
    <th>Claim ID</th>
    <th>Personal ID</th>
    <th>Appointment ID</th>
    <th>Claim Date</th>
    <th>Claim Type</th>
    <th>Details</th>
    <th>Claim Status</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let claim of data.claims">
    <td>{{ claim.claimId }}</td>
    <td>{{ claim.personalId }}</td>
    <td>{{ claim.appointmentId }}</td>
    <td>{{ claim.claimDate | date }}</td>
    <td>{{ claim.claimType }}</td>
    <td>{{ claim.details }}</td>
    <td>{{ claim.claimStatus }}</td>
</tr>
</tbody>
</table>

<!-- Tabla para treatments -->
<h2 width='900px'>Treatments</h2>
<table>
<thead>
<tr>
    <th>Treatment</th>
    <th>Diagnosis</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let treatment of data.treatments">
    <td>{{ treatment.treatment }}</td>
    <td>{{ treatment.diagnosis }}</td>
</tr>
</tbody>
</table>

<!-- Tabla para emails IDs -->
<h2 width='900px'>Emails IDs</h2>
<table>
<thead>
<tr>
    <th>Email ID</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let emailId of data.emailsIds">
    <td>{{ emailId }}</td>
</tr>
</tbody>
</table>

<!-- Tabla para physician info -->
<h2 width='900px'>Physician Info</h2>
<table>
<thead>
<tr>
    <th>Physician ID</th>
    <th>Name</th>
    <th>Last Name</th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{ data.physicianInfo.physicianId }}</td>
    <td>{{ data.physicianInfo.name }}</td>
    <td>{{ data.physicianInfo.lastName }}</td>
</tr>
</tbody>
</table>
<!-- Tabla para symptoms -->
<h2 width='900px'>Symptoms</h2>
<table>
<thead>
<tr>
    <th>Symptom</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let symptom of data.symptoms">
    <td>{{ symptom }}</td>
</tr>
</tbody>
</table>

<button (click)="onCloseClick()">Close</button>
</div>